##############################################################################
      _______                                                     __
     |       \                                                   |  \
     | $$$$$$$\  ______    ______       __   ______    _______  _| $$_
     | $$__/ $$ /      \  /      \     |  \ /      \  /       \|   $$ \
     | $$    $$|  $$$$$$\|  $$$$$$\     \$$|  $$$$$$\|  $$$$$$$ \$$$$$$
     | $$$$$$$ | $$   \$$| $$  | $$    |  \| $$    $$| $$        | $$ __
     | $$      | $$      | $$__/ $$    | $$| $$$$$$$$| $$_____   | $$|  \
     | $$      | $$       \$$    $$    | $$ \$$     \ \$$     \   \$$  $$
      \$$       \$$        \$$$$$$__   | $$  \$$$$$$$  \$$$$$$$    \$$$$
                                 |  \__/ $$
                                  \$$    $$
                                   \$$$$$$                                                                   



                 Hardened Linux Build - Created on {{ ansible_date_time.date }}

##############################################################################
