deb [arch=amd64] https://ciscuk.lab.int/apt/ubuntu/ bionic main restricted universe multiverse
deb [arch=amd64] https://ciscuk.lab.int/apt/ubuntu/ bionic-updates main restricted universe multiverse
deb [arch=amd64] https://ciscuk.lab.int/apt/ubuntu/ bionic-security main restricted universe multiverse
deb [arch=amd64] https://ciscuk.lab.int/apt/docker bionic stable
deb [arch=amd64] https://ciscuk.lab.int/apt/graphana stable main